:root {
    --jp-primaryColor: rgb(245, 170, 193);
    --jp-secondaryColor: reg(168, 99, 120);
    --formFocusColor: var(--jp-secondaryColor);
    --formfocusShadowColor: rgba(255, 100, 172, 0.5);

    --dw-formfocusColor: var(--dw-Secondary-Color);
    --dw-formfocusShadowColor: rgba(244, 119, 255, 0.5);
    --dw-PrimaryColor: rgb(173, 153, 216);
    --dw-SecondaryColor: rgb(104, 36, 115);

    --dwhitman-formfocusColor: var(--dw-secondaryColor);
    --dwhitman-formfocusShadow: rgba(42, 121, 248, 0.5);
    --dwhitman-primaryColor: #91CBFB;
    --dwhitman-secondaryColor: #4294ba;
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.titleFont {
    font-family: 'Judson', serif;
}

body {
    font-family: 'Yaldevi', sans-serif;
}

.form-control:focus {
    border-color: var(--formFocusColor);
    box-shadow: 0 0 0 .25rem var(--formfocusShadowColor);
}

.headerBackground {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-image: radial-gradient(circle 827px at 47.3% 48%, #ad5389 0%, #3c1053 90%);
}

@media only screen and (min-width: 992px) {
    .headerBackground {
        background-image: url("/img/DanielleWestLarge.png");
        min-height: 275px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 9910x) {
    .headerBackground {
        background-image: url("/img/DaniellWestSmall.png")
    }
}